body{
background:#111;
color:white;
font-family:monospace;
text-align:center;
}

.clock{
font-size:60px;
margin-top:40px;
}

#temp{
font-size:40px;
margin-top:20px;
}

#ticker{
margin-top:30px;
font-size:18px;
}
